body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.site {
  position: absolute;
  top:190px;
  height: 100%;
  width: 120px;
}

.search{
  position: absolute;
  top: 10px;
  right: 10px;
}

.center{
  text-align: center;
}

.center li{
  list-style-type: none;
  margin-top: 5px;
}
